# Accessing Data within Pandas

## Introduction

In this lessomn we're going to dig into various methods for accessing data from our Pandas Series and DaatFrames.

## Objectives
You will be able to:
* Understand and explain some key Pandas methods
* Use simple selectors for series
* Access DataFrame data by using the label
* Perform boolean indexing on both Series and DataFrames
* Set new Series and DataFrame inputs

# Import Package

In [2]:
import pandas as pd

# The .head() method()

Here we load the dataset, print the lenght (the number of rows), and preview the first 5 rows.

In [4]:
df = pd.read_csv('WorldCupMatches.csv')
print(len(df))
df.head()

4572

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

# We can also preview the last (n) rows

In [5]:
df.tail(2)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# .shape()
You can also get both the number of rows and columns with the .shape attribute (notice no parentheses!)

In [12]:
df.shape

(4572, 20)

# Getting Column Names

In [13]:
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

# Getting Data types

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
Year                    852 non-null float64
Datetime                852 non-null object
Stage                   852 non-null object
Stadium                 852 non-null object
City                    852 non-null object
Home Team Name          852 non-null object
Home Team Goals         852 non-null float64
Away Team Goals         852 non-null float64
Away Team Name          852 non-null object
Win conditions          852 non-null object
Attendance              850 non-null float64
Half-time Home Goals    852 non-null float64
Half-time Away Goals    852 non-null float64
Referee                 852 non-null object
Assistant 1             852 non-null object
Assistant 2             852 non-null object
RoundID                 852 non-null float64
MatchID                 852 non-null float64
Home Team Initials      852 non-null object
Away Team Initials      852 non-null object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB

# Series / Columns

In [6]:
df['Year'].head(3) #You can use the .head() method on a series as well as a dataframe

0    1930.0
1    1930.0
2    1930.0
Name: Year, dtype: float64

equivalently,

In [14]:
df.Year.head(3)

0    1930.0
1    1930.0
2    1930.0
Name: Year, dtype: float64

### Datatypes for Columns

In [18]:
df.Year.dtype

dtype('float64')

# .iloc()
You can also access specific rows of a dataframe or specific items in a series using the .iloc() method.

In [7]:
df.iloc[0]

Year                                      1930
Datetime                  13 Jul 1930 - 15:00
Stage                                  Group 1
Stadium                                Pocitos
City                               Montevideo
Home Team Name                          France
Home Team Goals                              4
Away Team Goals                              1
Away Team Name                          Mexico
Win conditions
Attendance                                4444
Half-time Home Goals                         3
Half-time Away Goals                         0
Referee                 LOMBARDI Domingo (URU)
Assistant 1              CRISTOPHE Henry (BEL)
Assistant 2                REGO Gilberto (BRA)
RoundID                                    201
MatchID                                   1096
Home Team Initials                         FRA
Away Team Initials                         MEX
Name: 0, dtype: object

In [8]:
# Notice how this is the top row
df.head(1)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX

# Notice how you can chain either way

In [9]:
df.Year.iloc[0] #The Year Series at index 0

1930.0

In [10]:
df.iloc[0]['Year'] #Row 0 of the DataFrame, entry for 'Year' field

1930.0

# Subsetting with Conditionals

Notice we can check a condition against a series like this:

In [20]:
df['Home Team Name'] == 'France'

0        True
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
4542    False
4543    False
4544    False
4545    False
4546    False
4547    False
4548    False
4549    False
4550    False
4551    False
4552    False
4553    False
4554    False
4555    False
4556    False
4557    False
4558    False
4559    False
4560    False
4561    False
4562    False
4563    False
4564    False
4565    False
4566    False
4567    False
4568    False
4569    False
4570    False
4571    False
Name: Home Team Name, Length: 4572, dtype: bool

We can pass this similar to how we call a column in general to filter the dataframe to those rows that meet or criteria.

In [22]:
france_home = df[df['Home Team Name']=='France']
print(len(france_home))
france_home.head()

31

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
37,1938.0,05 Jun 1938 - 17:00,First round,Stade Olympique,Colombes,France,3.0,1.0,Belgium,,30454.0,2.0,1.0,WUETHRICH Hans (SUI),KRIST Gustav (TCH),BIRLEM Alfred (GER),206.0,1146.0,FRA,BEL
85,1954.0,19 Jun 1954 - 17:10,Group 1,Charmilles,Geneva,France,3.0,2.0,Mexico,,19000.0,1.0,0.0,ASENSI Manuel (ESP),FRANKEN Laurent (BEL),BAUMBERGER Rene (SUI),211.0,1275.0,FRA,MEX
105,1958.0,08 Jun 1958 - 19:00,Group 2,Idrottsparken,Norrk�Ping,France,7.0,3.0,Paraguay,,16518.0,2.0,2.0,GARDEAZABAL Juan (ESP),GRIFFITHS Benjamin (WAL),BROZZI Juan (ARG),220.0,1386.0,FRA,PAR
122,1958.0,15 Jun 1958 - 19:00,Group 2,Eyravallen,Orebro,France,2.0,1.0,Scotland,,13554.0,2.0,0.0,BROZZI Juan (ARG),ORLANDINI Vincenzo (ITA),WYSSLING Paul (SUI),220.0,1387.0,FRA,SCO

We can also use the '~' to negate clauses:

In [23]:
not_france_home = df[~(df['Home Team Name']=='France')] #Notice we also need parentheses
print(len(not_france_home))
not_france_home.head()

4541

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
5,1930.0,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3.0,0.0,Mexico,,9249.0,1.0,0.0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201.0,1095.0,CHI,MEX

# The .isnull() method

Filtering null values is a common practice so the .isnull() method is an easy way to determine whether or not an entry is populated.

In [24]:
no_year = df[df.Year.isnull()]
print(len(no_year))
no_year.head()

3720

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
855,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

More commonly, we might want to return all of the rows that are not null:

In [25]:
df[~df.Year.isnull()].head() #The tilde (~) negates the boolean, making every True statement False and vice versa.

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

# The .str.contains() method

Or we can use string methods to filter based on text:

In [26]:
df[df['Home Team Name'].str.contains('M')]

ValueError: cannot index with vector containing NA / NaN values

## Summary

We've introduded a range of techniques for accessing data from Pandas Series and DataFrames. As you see above, though, this is one of many reasons why we might need to remove (or fill) null values. Which leads us to some time for practice! Lets on to the lab where you will get a chance to combine some of these methods!